@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro');
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
body {
    background: #232323;
}
#toolbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-width: 200px;
    background-color: #333333;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}
#toolbar li {
    padding: 5px 30px;
    color:white;
    user-select: none;
    cursor: default;
}
#toolbar li:hover {
    background: rgba(255, 75, 4, 0.856);
}
.flexgrid {
    display: flex;
}
.spacetool {
    flex: 1;
}
.rest {
    flex: 3;
}