@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro')

toolbarWidth = 200px
toolbarHeight = 40px

*
    box-sizing border-box
body, html 
    margin 0
    padding 0
    box-sizing border-box
    font-family 'Source Sans Pro', sans-serif
    background #232323

#toolbar 
    list-style-type none
    margin 0
    padding 0
    min-width toolbarWidth
    background-color #333333
    height 100% /* Full height */
    position fixed /* Make it stick, even on scroll */
    overflow auto /* Enable scrolling if the sidenav has too much content */
    li
        padding 5px 30px
        color white
        user-select none
        cursor default
        &:hover
            background rgba(255, 75, 4, 0.856)

#right
    width "-webkit-calc(100% - %s)" % toolbarWidth
    margin-left toolbarWidth
    height 100%

#opentabs
    display flex 
    white-space nowrap
    overflow-x auto
    &::-webkit-scrollbar
        display none
    .tab
        flex: 0 0 auto;
        overflow hidden
        text-overflow ellipsis
        width 130px
        height toolbarHeight
        padding 10px
        border-right 1px solid black 
        user-select none
        cursor default
        color white
        background #303030
        &.active
            background #232323

.flexgrid 
    display flex

.writeSection
    padding 0
    height "-webkit-calc(100% - %s)" % toolbarHeight
    pre
        font-family 'Source Sans Pro', sans-serif
        color white
        margin 0
        max-height  "-webkit-calc(100vh - %s)" % toolbarHeight
        overflow auto
        counter-reset: line;
        span 
            display: block;
            &:before 
                counter-increment: line;
                content: counter(line);
                display: inline-block;
                color rgba(white, 0.4)
                padding: 0 .5em;
                margin-right: .5em;
                width 25px
                text-align right 

::-webkit-scrollbar 
    width 10px

::-webkit-scrollbar-track 
    -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
    border-radius 10px

::-webkit-scrollbar-thumb 
    background-color rgba(255,255,255,0.1)
    -webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.5)

::-webkit-scrollbar-corner 
    background inherit
